body {
	font-family: Helvetica;
	text-align: center;
}

h1 {
	font-size: 70px;

}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 23px;
}

h1,
h2,
h3 {
	font-weight: bold;
}

p {
	font-size: 14px;
}

.hero {
	background-image: url("/Users/jgufler/git_practice/Broadway/resources/images/the-flatiron-building.png");
	color: white;
}

.hero h2 {
	font-size: 23px;
}

.btn-nav {
	font-size: 18px;
	color: white;
}

.footer {
	color: white;
	background-color: dimgray;
}

.footer p {
	font-size: 11px;
}